.btn-box {
    text-align: center;
}
.btn {
    width: 200px;
    height: 100px;
    font-size: 30px;
    cursor: pointer;
}
#output {
    text-align: center;
    border: 3px solid red;
}
#round {
    text-align: center;
    border: 3px solid orange;
}
#result {
    text-align: center;
    border: 3px solid blue;
}